@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;500&family=Shadows+Into+Light&display=swap');

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

nav{
    background:#333;
    height: 80px;
    width: 100%;
    position: fixed;
}

label.name{
    color: white;
    font-size: 50px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
    font-family: poppins;
}

nav ul{
    float: right;
    margin-right: 20px;
    list-style: none;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0px 5px;
}

nav ul li a{
    color: white;
    font-size: 20px;
    padding: 8px 11px;
    border-radius: 3px;
    text-transform: uppercase;
    font-family: shadows into light;
}

nav a.active,a:hover{
    background: black;
    transition: .5s;
    border-radius: 10px;
}

#banner-area{
    width: 100%;
    height:667px;
    background-color: black;
    background-image: url(https://images.unsplash.com/photo-1572666341285-c8cb9790ca50?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8Y29tcHV0ZXIlMjBkYXJrfGVufDB8fDB8fA%3D%3D&w=1000&q=80);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

#content{
    background-color: black;
    color: white;
    text-align: center;
    font-family: poppins;
}

#about{
    padding-top: 300px;
}

#aboutp{
    text-align: left;
    padding: 100px 100px;
    padding-bottom: 300px;
}

#projects{
    padding-top: 100px;
}
#projectsp{
    text-align: left;
    padding: 100px 100px;
    padding-bottom: 300px;
}

footer{
    width: 100%;
    background-color: #2c3e50;
    padding: 80px 0px;
    text-align: center;
}

footer a:hover{
    background: none;
}

footer.contactloc.ul{
    align-items: center;
    display: inline-block;
}

footer a i{
    color:black;
    padding:20px;
}
/*Got rid of the logo being underlined in black which i tried to cover up with a bigger hover background*/